[Unit]
Description=texified.org web app
After=network.target
Documentation=https://github.com/relrod/texified.org/

[Service]
ExecStart=/usr/bin/texified
Type=simple
User=nobody
Group=nobody

[Install]
WantedBy=multi-user.target
